.header-menu{
    width: 100px;
    padding: 10px 0;
}
nav a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
    padding: 5px 10px;
}
nav a:hover{
    color:white;
    font-weight: bold;
}
.selected{
    color: white;
    font-weight: bold;
}